doctype html
html(lang=language)
  - const getLanguageUrlPart = language !== 'en' ? `/${language}/` : '/';
  - const forumsLink = 'https://forums.steinberg.net/';

  each val, key in languageData
    if key === language
      - languageHomeLink = val.homeLink;

  each val, key in languageData
    if key === language
      - title = val.title;

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width', intial-scale=1)
    title= title
    each val, key in languageData
      if key === language
        meta(name='description', content=val.copy)

    link(rel='shortcut icon', href='/favicon-192x192.png', type='image/png')
    link(
      rel='apple-touch-icon',
      href='/apple-touch-icon.png',
      sizes='180x180',
      type='image/png'
    )
    link(rel='stylesheet', href='/static/404/main.css')
    link(rel='preconnect', href=`${usercentricsAppHostname}`)
    link(rel='preload', href=`${usercentricsSrc}`, as='script')
    script(
      src=`${usercentricsSrc}`,
      id=`${usercentricsID}`,
      async='true',
      data-settings-id=`${usercentricsSettingsID}`
    )
    script.
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start': new Date().getTime(),
          event: 'gtm.js',
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l !== 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', '#{gtmID}');

    script(src='/tracking-events.js')
  body
    noscript
      iframe(
        src=`https://www.googletagmanager.com/ns.html?id=${gtmID}`,
        height='0',
        width='0',
        style='display: none; visibility: hidden'
      )

    .logo-wrapper
      a.logo-link(href=languageHomeLink)
        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 110 26')
          g(fill='#C90526')
            path(
              d='M29.92 18.17C31.1788944 19.4440323 32.9095945 20.1392089 34.7 20.09 37.03 20.09 39.38 18.95 39.38 16.62 39.38 14.29 37.07 13.75 35.08 13.39 34.14 13.22 33.51 13.1 33.51 12.54 33.51 12.25 33.78 11.8 34.91 11.8 35.8246888 11.8490865 36.6971042 12.2008669 37.39 12.8L39.19 11.14C37.9249663 10.1709559 36.3735063 9.65028455 34.78 9.66 32.02 9.66 30.62 11.34 30.62 12.97 30.6165246 13.6605393 30.8777646 14.3261644 31.35 14.83 31.8219889 15.2443323 32.388627 15.5362368 33 15.68 33.4376466 15.8037235 33.8816186 15.9038676 34.33 15.98 34.9044332 16.031226 35.4694387 16.1590248 36.01 16.36 36.2433451 16.4519095 36.3949086 16.6792548 36.39 16.93 36.39 17.66 35.33 17.93 34.63 17.93 33.5289457 17.8713006 32.4948642 17.3829843 31.75 16.57L29.92 18.23 29.92 18.17zM40.89 10.17L39.45 10.17 39.45 11.95 40.89 11.95 40.89 16.72C40.8002503 17.4887384 40.9467496 18.26658 41.31 18.95 41.9848656 19.7281888 43.0117814 20.1057313 44.03 19.95 44.5437083 19.9416888 45.0556864 19.8881486 45.56 19.79L45.56 17.49 44.56 17.49C43.79 17.49 43.79 16.98 43.81 16.37L43.81 11.97 45.74 11.97 45.74 10.19 43.78 10.19 43.78 7.1 40.89 7.1 40.89 10.17zM53.69 16.21C53.3203557 17.2649737 52.3177492 17.9655903 51.2 17.95 50.5612767 17.9620129 49.9480729 17.6995172 49.5158762 17.229073 49.0836795 16.7586289 48.8739981 16.1254176 48.94 15.49L56 15.49C56.0968254 13.881859 55.5984943 12.2943186 54.6 11.03 53.6613069 10.0839043 52.3721474 9.56968907 51.04 9.61 47.15 9.61 45.97 12.68 45.97 15.06 45.8538306 16.4281112 46.3391562 17.7789964 47.2994178 18.7603838 48.2596794 19.7417711 49.5996851 20.2563744 50.97 20.17 52.3454616 20.1907963 53.6779084 19.6906822 54.7 18.77 55.1565986 18.3280081 55.5563446 17.8308449 55.89 17.29L53.69 16.18 53.69 16.21zM48.96 13.67C49.0312707 13.1870374 49.2355609 12.733444 49.55 12.36 50.3280056 11.5388817 51.6225747 11.4987055 52.45 12.27 52.7857379 12.6614272 52.9795305 13.1547173 53 13.67L48.96 13.67zM57.15 8.71L60.03 8.71 60.03 6.46 57.15 6.46 57.15 8.71zM57.15 19.84L60.03 19.84 60.03 9.94 57.15 9.94 57.15 19.84zM64.85 10.03L61.92 10.03 61.92 19.89 64.83 19.89 64.83 14.5C64.83 13.27 64.83 12.04 66.36 12.04 66.9123512 11.9957015 67.4342915 12.2985065 67.67 12.8 67.8037713 13.2811787 67.8478387 13.782869 67.8 14.28L67.8 19.84 70.7 19.84 70.7 13.08C70.7 11.55 70.43 10.66 69.39 10.08 68.8433708 9.80996377 68.2395338 9.67615897 67.63 9.69 67.0135541 9.69470561 66.4032934 9.81336742 65.83 10.04 65.44285 10.2224656 65.101235 10.4889254 64.83 10.82L64.83 10.03 64.85 10.03zM72.56 6.46L72.56 19.84 75.36 19.84 75.25 18.84C75.9588058 19.7058998 77.0317234 20.1905625 78.15 20.15 79.7420536 20.1647679 81.1912787 19.2339647 81.84 17.78 82.257856 16.8185751 82.4625472 15.7780616 82.44 14.73 82.44 10.8 79.83 9.73 78.24 9.73 77.1900177 9.67167104 76.1682096 10.0818592 75.45 10.85L75.45 6.46 72.56 6.46zM77.45 11.8C79.09 11.7 79.58 13.22 79.58 14.8 79.6132003 15.6446853 79.4124897 16.4821329 79 17.22 78.6276139 17.6792056 78.0711376 17.9501217 77.48 17.9600526 76.7909647 17.9635414 76.1486296 17.6121463 75.78 17.03 75.456238 16.3396504 75.3019619 15.5819831 75.33 14.82 75.33 14.23 75.33 11.92 77.47 11.82L77.45 11.8zM90.85 16.21C90.4740374 17.2645817 89.4695096 17.9637331 88.35 17.95 87.7119809 17.9623766 87.0994898 17.6995994 86.6688038 17.2287161 86.2381178 16.7578327 86.030892 16.124386 86.1 15.49L93.16 15.49C93.2402139 13.8931567 92.7432899 12.3207473 91.76 11.06 90.8213069 10.1139043 89.5321474 9.59968907 88.2 9.64 84.3 9.64 83.13 12.71 83.13 15.09 83.0138306 16.4581112 83.4991562 17.8089964 84.4594178 18.7903838 85.4196794 19.7717711 86.7596851 20.2863744 88.13 20.2 89.5054616 20.2207963 90.8379084 19.7206822 91.86 18.8 92.3165986 18.3580081 92.7163446 17.8608449 93.05 17.32L90.86 16.21 90.85 16.21zM86.12 13.67C86.1873573 13.1877815 86.3882599 12.7340185 86.7 12.36 87.081669 11.9484385 87.6187161 11.7162019 88.18 11.72 88.7062082 11.7152334 89.21429 11.9120257 89.6 12.27 89.9317648 12.6638058 90.1250008 13.1556792 90.15 13.67L86.12 13.67zM97.07 9.94L94.23 9.94 94.23 19.84 97.14 19.84 97.14 14.28C97.14 13.03 97.56 12.82 98.96 12.57L99.96 12.42 99.96 9.85C98.8874739 9.88937331 97.8635761 10.3074354 97.07 11.03L97.07 10.03 97.07 9.94zM106.8 19.59C106.8 20.41 106.8 21.45 105.04 21.45 104.719436 21.4599251 104.400983 21.3948648 104.11 21.26 103.555803 21.0130096 103.21588 20.4451382 103.26 19.84L100.26 19.84C100.180641 20.6804916 100.452048 21.5164275 101.01 22.15 102.069845 23.0290552 103.425933 23.4691575 104.8 23.38 105.968937 23.4096541 107.126938 23.1485027 108.17 22.62 109.61 21.79 109.64 20.52 109.68 19.44L109.68 9.94 106.95 9.94 106.95 10.87C106.265424 10.1422402 105.298259 9.74807451 104.3 9.79 101.02 9.79 100.1 12.65 100.1 14.64 99.9595332 16.2256062 100.65243 17.770425 101.93 18.72 102.598353 19.1562948 103.381947 19.3826665 104.18 19.37 105.122875 19.3921101 106.045752 19.0962262 106.8 18.53L106.8 19.59 106.8 19.59zM104.8 11.97C105.420752 11.9075954 106.027406 12.1823066 106.39 12.69 106.663769 13.2949249 106.787275 13.9570565 106.75 14.62 106.75 16.02 106.41 17.17 104.93 17.17 103.13 17.17 103.08 15.45 103.08 14.62 103.08 13.22 103.42 12.02 104.8 11.97L104.8 11.97zM20.9974093 4.59259065C24.5164712 8.11165248 25.5681713 13.4045258 23.6618006 18.0016274 21.7554299 22.598729 17.2667033 25.5940445 12.29 25.5900082 5.50470582 25.5844857.0055142605 20.0852942-.00000817315759 13.3-.00404445817 8.32329668 2.99127099 3.83457007 7.58837259 1.92819939 12.1854742.0218287151 17.4783475 1.07352883 20.9974093 4.59259065zM19.0245802 6.56541976C16.303453 3.84429249 12.2106086 3.03129298 8.65605884 4.50582452 5.10150907 5.98035606 2.78595559 9.45174703 2.78998943 13.3 2.79551174 18.5444204 7.04557961 22.7944883 12.2899894 22.8000106 16.138253 22.8040444 19.6096439 20.4884909 21.0841755 16.9339412 22.558707 13.3793914 21.7457075 9.28654704 19.0245802 6.56541976z'
            )
            path(
              d='M15.07,16.76 C14.8251476,16.9692268 14.4740511,16.9987687 14.1976794,16.8333988 C13.9213077,16.6680288 13.7813718,16.3446723 13.85,16.03 L13.85,10.41 C13.798139,10.1006023 13.9443237,9.79161602 14.2164288,9.63549013 C14.4885339,9.47936425 14.8290613,9.50908954 15.07,9.71 L19.96,12.53 C20.2566134,12.6376563 20.4541192,12.9194539 20.4541192,13.235 C20.4541192,13.5505461 20.2566134,13.8323437 19.96,13.94 L15.07,16.76 L15.07,16.76 Z'
            )

    .four-oh-four
      img(
        src='/static/404/line.png',
        srcset='/static/404/line@sm.png 767w, /static/404/line.png 768w'
      )
      img(
        src='/static/404/xlr.png',
        srcset='/static/404/xlr@sm.png 767w, /static/404/xlr.png 768w'
      )
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 271 96')
        path(
          fill='#FFF',
          d='M487.1,282 L487.1,264.36 L499.56,264.36 L499.56,243.22 L487.1,243.22 L487.1,189.6 L449.44,189.6 L411.64,250.92 L411.64,264.36 L459.1,264.36 L459.1,282 L487.1,282 Z M459.1,243.22 L441.04,243.22 L451.96,224.88 C455.133333,219.653333 457.56,214.66 459.24,209.9 L459.24,209.9 L459.52,209.9 L459.1,225.3 L459.1,243.22 Z M545.86,283.4 C559.766667,283.4 570.08,279.456667 576.8,271.57 C583.52,263.683333 586.88,251.76 586.88,235.8 C586.88,219.84 583.52,207.916667 576.8,200.03 C570.08,192.143333 559.766667,188.2 545.86,188.2 C531.953333,188.2 521.64,192.143333 514.92,200.03 C508.2,207.916667 504.84,219.84 504.84,235.8 C504.84,251.76 508.2,263.683333 514.92,271.57 C521.64,279.456667 531.953333,283.4 545.86,283.4 Z M545.86,258.9 C543.433333,258.9 541.566667,258.223333 540.26,256.87 C538.953333,255.516667 538.043333,253.23 537.53,250.01 C537.016667,246.79 536.76,242.053333 536.76,235.8 L536.760916,235.158514 C536.778006,229.221803 537.034368,224.698966 537.53,221.59 C538.043333,218.37 538.953333,216.083333 540.26,214.73 C541.566667,213.376667 543.433333,212.7 545.86,212.7 C548.286667,212.7 550.153333,213.376667 551.46,214.73 C552.766667,216.083333 553.676667,218.37 554.19,221.59 C554.703333,224.81 554.96,229.546667 554.96,235.8 C554.96,242.053333 554.703333,246.79 554.19,250.01 C553.676667,253.23 552.766667,255.516667 551.46,256.87 C550.153333,258.223333 548.286667,258.9 545.86,258.9 Z M669.02,282 L669.02,264.36 L681.48,264.36 L681.48,243.22 L669.02,243.22 L669.02,189.6 L631.36,189.6 L593.56,250.92 L593.56,264.36 L641.02,264.36 L641.02,282 L669.02,282 Z M641.02,243.22 L622.96,243.22 L633.88,224.88 C637.053333,219.653333 639.48,214.66 641.16,209.9 L641.16,209.9 L641.44,209.9 L641.02,225.3 L641.02,243.22 Z',
          transform='translate(-411 -188)'
        )

    .container.text-center
      each val, key in languageData
        if key === language
          h1= val.header
          p= val.copy

      ul.link-list
        li: a(href=`${language !== 'en' ? `/${language}` : ''}/cubase/`) Cubase
        li: a(href=`${language !== 'en' ? `/${language}` : ''}/nuendo/`) Nuendo
        li: a(href=`${language !== 'en' ? `/${language}` : ''}/vst-instruments/`) Instruments
        li: a(
          href=`${language !== 'en' ? `/${language}` : ''}/audio-interfaces/`
        ) Audio Interfaces

    footer
      .social-media-link-wrapper
        a(
          href='https://www.facebook.com/steinberg/',
          rel='noreferrer',
          target='blank'
        )
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 320 512')
            path(
              d='M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z'
            )
        a(
          href='https://www.youtube.com/steinbergsoftware',
          rel='noreferrer',
          target='blank'
        )
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 576 512')
            path(
              d='M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z'
            )
        a(
          href='https://twitter.com/steinbergmedia',
          rel='noreferrer',
          target='blank'
        )
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
            path(
              d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z'
            )
        a(
          href='https://www.instagram.com/steinbergmedia/',
          rel='noreferrer',
          target='blank'
        )
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512')
            path(
              d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z'
            )
        a(
          href='https://soundcloud.com/steinbergmedia',
          rel='noreferrer',
          target='blank'
        )
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512')
            path(
              d='M111.4 256.3l5.8 65-5.8 68.3c-.3 2.5-2.2 4.4-4.4 4.4s-4.2-1.9-4.2-4.4l-5.6-68.3 5.6-65c0-2.2 1.9-4.2 4.2-4.2 2.2 0 4.1 2 4.4 4.2zm21.4-45.6c-2.8 0-4.7 2.2-5 5l-5 105.6 5 68.3c.3 2.8 2.2 5 5 5 2.5 0 4.7-2.2 4.7-5l5.8-68.3-5.8-105.6c0-2.8-2.2-5-4.7-5zm25.5-24.1c-3.1 0-5.3 2.2-5.6 5.3l-4.4 130 4.4 67.8c.3 3.1 2.5 5.3 5.6 5.3 2.8 0 5.3-2.2 5.3-5.3l5.3-67.8-5.3-130c0-3.1-2.5-5.3-5.3-5.3zM7.2 283.2c-1.4 0-2.2 1.1-2.5 2.5L0 321.3l4.7 35c.3 1.4 1.1 2.5 2.5 2.5s2.2-1.1 2.5-2.5l5.6-35-5.6-35.6c-.3-1.4-1.1-2.5-2.5-2.5zm23.6-21.9c-1.4 0-2.5 1.1-2.5 2.5l-6.4 57.5 6.4 56.1c0 1.7 1.1 2.8 2.5 2.8s2.5-1.1 2.8-2.5l7.2-56.4-7.2-57.5c-.3-1.4-1.4-2.5-2.8-2.5zm25.3-11.4c-1.7 0-3.1 1.4-3.3 3.3L47 321.3l5.8 65.8c.3 1.7 1.7 3.1 3.3 3.1 1.7 0 3.1-1.4 3.1-3.1l6.9-65.8-6.9-68.1c0-1.9-1.4-3.3-3.1-3.3zm25.3-2.2c-1.9 0-3.6 1.4-3.6 3.6l-5.8 70 5.8 67.8c0 2.2 1.7 3.6 3.6 3.6s3.6-1.4 3.9-3.6l6.4-67.8-6.4-70c-.3-2.2-2-3.6-3.9-3.6zm241.4-110.9c-1.1-.8-2.8-1.4-4.2-1.4-2.2 0-4.2.8-5.6 1.9-1.9 1.7-3.1 4.2-3.3 6.7v.8l-3.3 176.7 1.7 32.5 1.7 31.7c.3 4.7 4.2 8.6 8.9 8.6s8.6-3.9 8.6-8.6l3.9-64.2-3.9-177.5c-.4-3-2-5.8-4.5-7.2zm-26.7 15.3c-1.4-.8-2.8-1.4-4.4-1.4s-3.1.6-4.4 1.4c-2.2 1.4-3.6 3.9-3.6 6.7l-.3 1.7-2.8 160.8s0 .3 3.1 65.6v.3c0 1.7.6 3.3 1.7 4.7 1.7 1.9 3.9 3.1 6.4 3.1 2.2 0 4.2-1.1 5.6-2.5 1.7-1.4 2.5-3.3 2.5-5.6l.3-6.7 3.1-58.6-3.3-162.8c-.3-2.8-1.7-5.3-3.9-6.7zm-111.4 22.5c-3.1 0-5.8 2.8-5.8 6.1l-4.4 140.6 4.4 67.2c.3 3.3 2.8 5.8 5.8 5.8 3.3 0 5.8-2.5 6.1-5.8l5-67.2-5-140.6c-.2-3.3-2.7-6.1-6.1-6.1zm376.7 62.8c-10.8 0-21.1 2.2-30.6 6.1-6.4-70.8-65.8-126.4-138.3-126.4-17.8 0-35 3.3-50.3 9.4-6.1 2.2-7.8 4.4-7.8 9.2v249.7c0 5 3.9 8.6 8.6 9.2h218.3c43.3 0 78.6-35 78.6-78.3.1-43.6-35.2-78.9-78.5-78.9zm-296.7-60.3c-4.2 0-7.5 3.3-7.8 7.8l-3.3 136.7 3.3 65.6c.3 4.2 3.6 7.5 7.8 7.5 4.2 0 7.5-3.3 7.5-7.5l3.9-65.6-3.9-136.7c-.3-4.5-3.3-7.8-7.5-7.8zm-53.6-7.8c-3.3 0-6.4 3.1-6.4 6.7l-3.9 145.3 3.9 66.9c.3 3.6 3.1 6.4 6.4 6.4 3.6 0 6.4-2.8 6.7-6.4l4.4-66.9-4.4-145.3c-.3-3.6-3.1-6.7-6.7-6.7zm26.7 3.4c-3.9 0-6.9 3.1-6.9 6.9L227 321.3l3.9 66.4c.3 3.9 3.1 6.9 6.9 6.9s6.9-3.1 6.9-6.9l4.2-66.4-4.2-141.7c0-3.9-3-6.9-6.9-6.9z'
            )

      .container.flex.footer-service-wrapper
        ul.footer-link-wrapper
          each val, key in languageData
            if key === language
              each el, key in val.footerServiceText
                if key === 'company'
                  li: a(href=val.companyLink)= el
                else if key === 'forums'
                  li: a(href=forumsLink)= el
                else if key === 'systemRequirements'
                  li: a(href=`${getLanguageUrlPart}system-requirements/`)= el
                else
                  li: a(href=getLanguageUrlPart + key + '/')= el
        a.logo-link(href=languageHomeLink)
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 111 32')
            g(fill='#FFF', fill-rule='evenodd')
              path(
                d='M108.932,24.641 L107.059,24.641 L107.041,26.112 L106.417,26.112 L106.417,27.239 L107.025,27.239 L107,29.005 L106.992,29.301 C107,29.522 106.992,29.744 107.181,29.982 C107.435,30.229 107.772,30.27 108.406,30.287 L109.646,30.287 L109.646,29.055 C109.144,29.055 108.956,29.055 108.939,28.669 L108.939,27.239 L109.638,27.239 L109.638,26.112 L108.931,26.112 L108.931,24.641 L108.932,24.641 Z M100.284,28.955 C100.325,29.406 100.465,29.761 100.966,30.022 C101.427,30.26 102.273,30.425 103.209,30.425 C104.59,30.425 105.206,30.071 105.567,29.735 C105.764,29.539 105.978,29.267 105.978,28.839 C105.978,27.96 105.165,27.819 104.506,27.714 C104.228,27.672 103.003,27.533 102.765,27.467 C102.51,27.401 102.395,27.327 102.395,27.188 C102.395,26.95 102.715,26.843 103.085,26.843 C103.266,26.843 103.964,26.875 104.047,27.311 L105.969,27.229 C105.69,26.087 104.465,25.783 103.208,25.783 C102.617,25.783 100.488,25.8 100.488,27.188 C100.488,28.009 101.063,28.223 101.91,28.42 C102.247,28.494 102.584,28.551 102.929,28.601 C103.537,28.692 103.841,28.732 103.948,28.856 C103.973,28.88 104.006,28.93 104.006,29.004 C104.006,29.275 103.628,29.382 103.242,29.382 C102.914,29.382 102.535,29.3 102.363,29.118 C102.272,29.019 102.256,28.937 102.239,28.872 L100.284,28.955 Z M98.391,25.932 L96.453,25.932 L96.453,30.286 L98.384,30.286 L98.384,28.339 C98.392,28.142 98.401,27.936 98.589,27.764 C98.712,27.649 98.918,27.535 99.436,27.535 C99.6,27.535 99.748,27.551 99.896,27.567 L99.896,25.85 C99.65,25.858 99.354,25.873 98.993,26.071 C98.746,26.203 98.541,26.392 98.392,26.623 L98.392,25.932 L98.391,25.932 Z M93.376,30.286 L95.299,30.286 L95.299,25.94 L93.376,25.94 L93.376,30.286 Z M93.368,25.496 L95.299,25.496 L95.299,24.485 L93.368,24.485 L93.368,25.496 Z M86.959,30.286 L89.038,30.286 L89.038,28.199 L92.35,28.199 L92.35,26.901 L89.038,26.901 L89.038,25.791 L92.645,25.791 L92.645,24.485 L86.959,24.485 L86.959,30.286 Z M78.683,30.04 C78.715,30.122 78.765,30.221 78.765,30.311 C78.765,30.516 78.568,30.566 78.37,30.566 L77.474,30.566 L77.474,31.798 L78.494,31.798 C79.159,31.79 79.414,31.774 79.759,31.584 C80.236,31.313 80.441,30.894 80.655,30.45 L82.717,25.931 L80.589,25.931 L80.096,27.402 C79.907,28.035 79.865,28.207 79.759,28.823 C79.636,28.067 79.586,27.871 79.331,27.09 L78.945,25.932 L76.834,25.932 L78.683,30.04 Z M75.678,24.641 L73.805,24.641 L73.788,26.112 L73.164,26.112 L73.164,27.239 L73.771,27.239 L73.747,29.006 L73.739,29.302 C73.747,29.523 73.739,29.745 73.927,29.983 C74.182,30.23 74.519,30.271 75.152,30.288 L76.393,30.288 L76.393,29.056 C75.891,29.056 75.702,29.056 75.686,28.67 L75.686,27.24 L76.384,27.24 L76.384,26.113 L75.677,26.113 L75.677,24.641 L75.678,24.641 Z M70.572,30.286 L72.495,30.286 L72.495,25.94 L70.572,25.94 L70.572,30.286 Z M70.564,25.496 L72.495,25.496 L72.495,24.485 L70.564,24.485 L70.564,25.496 Z M65.836,30.286 L67.833,30.286 L69.838,25.932 L67.742,25.932 L67.15,27.485 C66.986,27.895 66.953,28.019 66.83,28.463 C66.69,27.986 66.649,27.863 66.477,27.428 L65.91,25.933 L63.806,25.933 L65.836,30.286 Z M61.149,30.286 L63.072,30.286 L63.072,25.94 L61.149,25.94 L61.149,30.286 Z M61.141,25.496 L63.073,25.496 L63.073,24.485 L61.141,24.485 L61.141,25.496 Z M59.566,24.641 L57.693,24.641 L57.676,26.112 L57.051,26.112 L57.051,27.239 L57.659,27.239 L57.634,29.006 L57.625,29.302 C57.634,29.523 57.625,29.745 57.814,29.983 C58.068,30.23 58.405,30.271 59.038,30.288 L60.279,30.288 L60.279,29.056 C59.778,29.056 59.588,29.056 59.572,28.67 L59.572,27.24 L60.271,27.24 L60.271,26.113 L59.564,26.113 L59.564,24.641 L59.566,24.641 Z M54.516,28.29 C54.458,28.527 54.393,28.79 53.998,29.013 C53.719,29.177 53.398,29.259 53.078,29.259 C52.495,29.259 52.396,28.955 52.396,28.823 C52.396,28.437 52.906,28.388 53.185,28.363 C53.513,28.331 54.195,28.306 54.516,28.29 Z M52.486,27.295 C52.535,27.181 52.584,27.049 52.929,26.967 C53.143,26.917 53.447,26.902 53.545,26.902 C54.145,26.902 54.31,27.065 54.383,27.156 C54.482,27.28 54.482,27.394 54.482,27.51 C53.537,27.527 52.165,27.551 51.441,27.773 C51.063,27.888 50.808,28.078 50.668,28.266 C50.512,28.48 50.438,28.767 50.438,29.022 C50.438,29.433 50.611,29.787 50.948,30.033 C51.342,30.337 51.86,30.42 52.353,30.42 C53.265,30.42 54.013,30.091 54.514,29.877 C54.531,30.074 54.538,30.124 54.588,30.296 L56.601,30.296 C56.412,30.115 56.371,29.992 56.363,29.655 L56.363,27.379 C56.363,27.083 56.363,26.435 55.656,26.098 C55.179,25.86 54.349,25.786 53.479,25.786 C52.452,25.786 51.696,25.942 51.285,26.188 C50.759,26.508 50.668,27.018 50.619,27.297 L52.486,27.297 L52.486,27.295 Z M45.546,27.624 C45.628,27.427 45.834,26.917 46.655,26.917 C46.86,26.917 47.189,26.95 47.452,27.164 C47.658,27.336 47.699,27.46 47.764,27.624 L45.546,27.624 Z M49.802,28.38 C49.786,27.895 49.761,27.238 49.153,26.622 C48.479,25.932 47.485,25.809 46.606,25.809 C45.956,25.809 44.65,25.832 43.911,26.778 C43.681,27.065 43.476,27.518 43.476,28.094 C43.476,29.112 44.076,29.786 44.914,30.123 C45.448,30.336 46.023,30.41 46.599,30.41 C46.977,30.41 48.012,30.361 48.768,29.95 C49.368,29.622 49.581,29.211 49.688,29.013 L47.667,28.914 C47.552,29.029 47.47,29.111 47.264,29.193 C47.124,29.251 46.919,29.308 46.689,29.308 C46.319,29.308 45.637,29.143 45.481,28.379 L49.802,28.379 L49.802,28.38 Z M41.484,25.932 L39.544,25.932 L39.544,30.286 L41.475,30.286 L41.475,28.339 C41.483,28.142 41.492,27.936 41.681,27.764 C41.804,27.649 42.01,27.535 42.527,27.535 C42.692,27.535 42.839,27.551 42.987,27.567 L42.987,25.85 C42.74,25.858 42.445,25.873 42.083,26.071 C41.836,26.203 41.631,26.392 41.483,26.623 L41.483,25.932 L41.484,25.932 Z M35.273,25.57 C35.569,25.57 35.955,25.635 36.268,25.832 C36.572,26.03 36.67,26.252 36.753,26.416 L38.676,26.07 C38.487,25.52 38.043,24.239 35.225,24.239 C31.921,24.239 31.33,26.268 31.33,27.393 C31.33,28.988 32.316,29.9 33.507,30.269 C34.041,30.434 34.6,30.483 35.167,30.483 C36.44,30.483 37.771,30.187 38.454,29.135 C38.643,28.839 38.717,28.626 38.783,28.411 L36.803,28.206 C36.737,28.379 36.655,28.567 36.384,28.789 C36.08,29.036 35.661,29.176 35.209,29.176 C34.018,29.176 33.5,28.264 33.5,27.385 C33.499,26.153 34.337,25.57 35.273,25.57 Z'
              )
              path(
                d='M75.393,6.298 C76.223,6.26 76.752,6.657 76.979,7.016 C77.301,7.488 77.338,8.471 77.338,8.943 C77.338,10.341 76.998,11.493 75.525,11.493 C73.73,11.493 73.673,9.774 73.673,8.943 C73.673,7.544 74.013,6.355 75.393,6.298 Z M77.356,13.912 C77.356,14.723 77.356,15.763 75.599,15.763 C75.146,15.763 74.863,15.669 74.673,15.575 C73.899,15.216 73.861,14.593 73.822,14.158 L70.818,14.158 C70.818,14.686 70.799,15.688 71.574,16.463 C72.103,17.011 73.388,17.691 75.352,17.691 C76.241,17.691 77.714,17.541 78.715,16.936 C80.152,16.104 80.189,14.839 80.227,13.762 L80.227,4.278 L77.506,4.278 L77.506,5.204 C77.071,4.788 76.372,4.127 74.861,4.127 C71.591,4.127 70.667,6.98 70.667,8.963 C70.667,10.664 71.177,12.194 72.499,13.045 C73.142,13.48 73.935,13.687 74.747,13.687 C76.089,13.687 76.788,13.234 77.354,12.856 L77.354,13.912 L77.356,13.912 Z M67.644,4.276 L64.81,4.276 L64.81,14.157 L67.719,14.157 L67.719,8.602 C67.719,7.355 68.135,7.147 69.533,6.902 L70.496,6.751 L70.496,4.182 C68.985,4.333 68.286,4.768 67.643,5.316 L67.643,4.276 L67.644,4.276 Z M56.712,7.998 C56.807,7.583 56.9,7.129 57.298,6.694 C57.581,6.392 58.072,6.052 58.772,6.052 C59.282,6.052 59.831,6.241 60.189,6.6 C60.604,7.035 60.68,7.582 60.737,7.998 L56.712,7.998 Z M61.435,10.53 C61.077,11.229 60.528,12.268 58.941,12.268 C57.373,12.268 56.673,11.04 56.693,9.812 L63.74,9.812 C63.703,8.697 63.627,6.77 62.342,5.391 C61.077,4.031 59.376,3.974 58.79,3.974 C54.898,3.974 53.727,7.035 53.727,9.415 C53.727,12.646 55.786,14.516 58.714,14.516 C60.301,14.516 61.586,13.913 62.437,13.119 C62.947,12.646 63.287,12.155 63.627,11.645 L61.435,10.53 Z M48.074,6.127 C49.719,6.033 50.21,7.544 50.21,9.112 C50.21,9.547 50.152,10.831 49.623,11.53 C49.378,11.833 48.887,12.266 48.112,12.266 C47.451,12.266 46.771,11.946 46.393,11.34 C46.052,10.755 45.939,9.848 45.939,9.13 C45.939,8.546 45.959,6.241 48.074,6.127 Z M43.181,0.8 L43.181,14.157 L45.978,14.157 L45.865,13.118 C46.223,13.514 47.017,14.422 48.756,14.422 C50.721,14.422 51.93,13.175 52.441,12.061 C52.875,11.192 53.045,10.02 53.045,9.019 C53.045,5.09 50.437,3.994 48.85,3.994 C47.169,3.994 46.432,4.75 46.016,5.184 L46.016,0.8 L43.181,0.8 Z M35.478,4.314 L32.55,4.314 L32.55,14.157 L35.46,14.157 L35.46,8.829 C35.46,7.601 35.46,6.373 36.989,6.373 C37.556,6.373 38.066,6.6 38.294,7.129 C38.406,7.394 38.426,7.715 38.426,8.603 L38.426,14.158 L41.317,14.158 L41.317,7.413 C41.317,5.883 41.052,4.994 40.013,4.447 C39.502,4.163 38.841,4.05 38.256,4.05 C37.557,4.05 36.914,4.22 36.461,4.409 C35.951,4.654 35.762,4.881 35.479,5.183 L35.479,4.314 L35.478,4.314 Z M27.791,14.157 L30.662,14.157 L30.662,4.276 L27.791,4.276 L27.791,14.157 Z M27.791,3.048 L30.662,3.048 L30.662,0.8 L27.791,0.8 L27.791,3.048 Z M19.618,7.998 C19.712,7.583 19.806,7.129 20.203,6.694 C20.486,6.392 20.978,6.052 21.677,6.052 C22.187,6.052 22.735,6.241 23.094,6.6 C23.51,7.035 23.585,7.582 23.642,7.998 L19.618,7.998 Z M24.341,10.53 C23.982,11.229 23.434,12.268 21.847,12.268 C20.279,12.268 19.58,11.04 19.599,9.812 L26.646,9.812 C26.608,8.697 26.533,6.77 25.248,5.391 C23.982,4.031 22.282,3.974 21.696,3.974 C17.804,3.974 16.633,7.035 16.633,9.415 C16.633,12.646 18.693,14.516 21.621,14.516 C23.208,14.516 24.493,13.913 25.343,13.119 C25.853,12.646 26.193,12.155 26.533,11.645 L24.341,10.53 Z M11.558,4.503 L10.122,4.503 L10.122,6.279 L11.558,6.279 L11.558,11.04 C11.558,11.984 11.577,12.684 11.974,13.269 C12.597,14.176 13.693,14.233 14.695,14.233 C15.224,14.233 15.602,14.176 16.225,14.082 L16.225,11.815 L15.186,11.853 C14.411,11.853 14.411,11.342 14.43,10.738 L14.43,6.299 L16.357,6.299 L16.357,4.523 L14.449,4.523 L14.449,1.443 L11.558,1.443 L11.558,4.503 Z M0.602,12.494 C1.226,13.08 2.643,14.402 5.382,14.402 C7.706,14.402 10.049,13.268 10.049,10.945 C10.049,8.602 7.744,8.073 5.76,7.715 C4.816,7.545 4.192,7.431 4.192,6.864 C4.192,6.581 4.456,6.127 5.59,6.127 C6.27,6.127 7.139,6.392 8.065,7.11 L9.86,5.447 C9.18,4.975 7.782,3.974 5.458,3.974 C2.7,3.974 1.301,5.655 1.301,7.28 C1.301,8.017 1.604,8.697 2.038,9.131 C2.473,9.565 3.078,9.811 3.682,9.981 C4.117,10.113 4.57,10.208 5.004,10.283 C5.571,10.377 6.251,10.434 6.686,10.661 C6.856,10.755 7.064,10.888 7.064,11.227 C7.064,11.963 6.006,12.191 5.307,12.191 C4.211,12.191 3.229,11.605 2.435,10.831 L0.602,12.494 Z',
                transform='translate(30 5)'
              )
              path(
                d='M15.764,16.152 C15.107,16.531 14.542,16.205 14.542,15.446 L14.542,9.812 C14.542,9.054 15.107,8.728 15.764,9.106 L20.643,11.923 C21.3,12.302 21.3,12.955 20.643,13.334 L15.764,16.152 Z'
              )
              path(
                d='M3.505,12.691 C3.505,7.452 7.752,3.205 12.991,3.205 C18.23,3.205 22.477,7.452 22.477,12.691 C22.477,17.93 18.23,22.1760002 12.991,22.1760002 C7.752,22.177 3.505,17.931 3.505,12.691 Z M0.715,12.691 C0.715,5.911 6.211,0.416 12.991,0.416 C19.771,0.416 25.267,5.912 25.267,12.691 C25.267,19.471 19.771,24.966 12.991,24.966 C6.211,24.967 0.715,19.472 0.715,12.691 Z'
              )

      hr

      .container.flex
        ul.footer-link-wrapper
          each val, key in languageData
            if key === language
              li: a(
                href=`${language === 'ja' ? 'https://japan.steinberg.net/jp/about/about_j.html' : 'https://www.steinberg.net/en/extras/about.html'}`
              )= val.footerLinkText.about
              li: a(
                href=`${language === 'ja' ? 'https://japan.steinberg.net/jp/about/privacy_policy_j.html' : 'https://www.steinberg.net/en/extras/privacy_policy.html'}`
              )= val.footerLinkText.privacyPolicy
        .copyright
          | ©&nbsp;
          span.copyright__year
          |
          | Steinberg Media Technologies GmbH. All rights reserved.

      script.
        const dateElement = document.querySelector('.copyright__year');
        const date = new Date();
        const currentYear = date.getFullYear();
        dateElement.innerText = currentYear;
      script.
        pushErrorPageTrackingEvent('404_page', '#{title}', '#{pageUrl}', '#{pagePath}');
